<div class="modal-header">
    <h3 class="modal-title">Password Change</h3>
</div>
<div class="modal-body">
    <p>Enter a new password below. Both entries must match. Passwords must be at least 8 characters.</p>
    <input class="form-control input-lg" type="text" ng-model="password.pass"
           placeholder="password" ng-class="{ 'error-border': password.pass.length < 8 }">
    <input class="form-control input-lg top15" type="text" ng-model="password.match"
           placeholder="password match" ng-class="{ 'error-border': (password.pass != password.match) }">
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="(password.pass != password.match) || (password.pass.length < 8) ">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>