$nav-top-height: 70px;

.ognavbar {
  position: absolute;
  top: 0;
  left: $nav-side-width;
  background-color: $nav-header-color;
  width: 80vw;
  height: $nav-top-height;
  /* Temp border for layout */
  //border: 1px solid orangered;
  display: flex;
  z-index: 1000;
}

//.logo {
//  height: 60%;
//  margin: auto 0 auto 10px;
//}

.navtext {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 20px;
  line-height: 70px;
  cursor: pointer;
}

.navlinkholder {
  margin-left: 5%;
  /*line-height: 70px;*/
  overflow: hidden;
  /*border: 1px solid greenyellow;*/

  /*border-left: 1px solid rgba(255, 255, 255, 0.15);*/
}

.logout {
  /*line-height: 70px;*/
  position: absolute;
  //border: 1px solid #5ac3ff;
  right: 0;
}

.naventry {
  margin: 0 30px 0 10px;
  padding-top: 20px;
  &:hover {
    color: darken($light-grey, 10%);
    //text-decoration: underline;
  }
}
