.ognavbar {
  position: relative;
  top: 0;
  /*left: 0;*/
  background-color: $nav-header-color;
  width: 100%;
  height: 70px;
  /* Temp border for layout */
  /*border: 1px solid orangered;*/
  display: flex;
}

.logo {
  width: 170px;
  margin-left: 10px;
}

.navtext {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 20px;
  line-height: 70px;
  cursor: pointer;
}

.navlinkholder {
  margin-left: 100px;
  /*line-height: 70px;*/
  overflow: hidden;
  /*border: 1px solid greenyellow;*/

  /*border-left: 1px solid rgba(255, 255, 255, 0.15);*/
}

.logout {
  /*line-height: 70px;*/
  overflow: hidden;
  /*border: 1px solid #5ac3ff;*/
  margin-left: auto;
}

.naventry {
  margin: 0 30px 0 10px;
  padding-top: 20px;
  &:hover {
    color: darken($light-grey, 10%);
    //text-decoration: underline;
  }
}
