img(src='http://104.131.145.36/images/ourglass-black.png', witdt='256', height='60')

h1 An Ad has been created/updated and needs to be reviewed!

p Please login to your Ourglass account and review the ad.

a(href=url) Login
