img(src='http://104.131.145.36/images/ourglass-black.png', witdt='256', height='60')

h1="A password reset was requested!"

p
  | If this is correct please follow the following link

a(href =url) Click here!
