img(src='http://104.131.145.36/images/ourglass-black.png', witdt='256', height='60')

h1 You were invited to be a proprietor at #{venue}

a(href =url) Click here to accept!

p
    | #{name} invited you to be a #{role} at their venue, #{venue}.



p If you think this is a mistake, please ignore this email.
