img(src='http://104.131.145.36/images/ourglass-black.png', width='256', height='60')

h1="Please Confirm Your Account!"

p
  | Click on the following link to confirm your email address

a(href=url) Click here!!
