<div class="container">
    <h1><i class="fa fa-building-o" aria-hidden="true" style="color: #999999"></i>&nbsp;Venue: <span style="color: #8a8a8a; font-style: italic;">{{ venue.name }}</span></h1>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <uib-tabset class="top30">
                <uib-tab heading="Basic Venue Info">
                    <venue-basic-info venue="venue" geocode="true" ring="1" yelp="true"></venue-basic-info>
                    <google-map address="venue.address" geolocation="venue.geolocation" name="venue.name"></google-map>
                    <venue-users venue="venue"></venue-users>
                    <hr>
                </uib-tab>
                <uib-tab heading="Sponsorships">
                    <h3 ng-hide="venue.sponsorships.length">No sponsorships have been added to this venue.</h3>
                    <!--<uib-accordion ng-show="venue.sponsorships.length" class="top30">
                        <div uib-accordion-group class="panel-default" is-open="status.isOpen" ng-repeat="s in venue.sponsorships | orderBy:'name'">
                            <uib-accordion-heading>
                                {{ s.name }} - <span style="font-size:14px">{{ s.description }}</span>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.isOpen, 'glyphicon-chevron-down': !status.isOpen }"></i>
                            </uib-accordion-heading>
                            <div>
                                <div class="col-sm-4" style="text-align:center">
                                    <span style="font-weight:bold">Crawler Text</span>
                                    <p ng-hide="s.advert.text[0] + s.advert.text[1] + s.advert.text[2]">None</p>
                                    <ul class="list-group" style="text-align:left">
                                        <li class="list-group-item" ng-repeat="t in s.advert.text track by $index" ng-show="t">{{ t }}</li>
                                    </ul>
                                </div>
                                <div ng-repeat="size in mediaSizes" ng-if="s.advert.media[size]" class="col-sm-4" style="text-align: center">
                                    <b>{{size | capitalize}}</b><br>
                                    <a ng-href="media/download/{{s.advert.media[size]}}" target="_blank"><img
                                            style="width:100%"
                                            class="media-prev"
                                            ng-src="media/download/{{s.advert.media[size]}}"/></a>
                                </div>
                                <div class="col-xs-12 top15">
                                    <button class="btn btn-danger" ng-click="removeSponsorship(s.id)">Remove from venue</button>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>-->
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>