<!-- styles are in the scss partial -->
<div class="ognavbar navtext noselect">
    <i class="fa fa-bars naventry" aria-hidden="true" ng-click="toggleSideMenu()" ng-if="showBurgerMenu"></i>
    <img class="logo" src="/images/ourglass-white.png" ng-click="toggleSideMenu()"/>
    <div class="navlinkholder">
        <span ng-repeat="link in links" class="naventry" ui-sref="{{ link.sref }}">
            <i class="fa fa-{{ link.icon }}" aria-hidden="true"></i>&nbsp;{{ link.label }}</span>
        <span class="naventry" ui-sref="myaccount"><i class="fa fa-id-card" aria-hidden="true" >

        </i>&nbsp;account</span>
    </div>
    <div class="logout">
        <span class="naventry" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;logout</span>
    </div>
</div>