@mixin material-card-shadow {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(168, 168, 168, 1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(168, 168, 168, 1);
  box-shadow: 1px 1px 1px 0px rgba(168, 168, 168, 1);
}

@mixin material-card {
  @include material-card-shadow;
  border: 1px solid $material-border-grey;
  margin: 5px;
}

.material-panel {
  @include material-card;
  min-height: 300px;
  padding: 0 30px 30px 30px;
}

h4 {
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 5px;
}

