.material-panel {
  -webkit-box-shadow: 1px 1px 1px 0px #a8a8a8;
  -moz-box-shadow: 1px 1px 1px 0px #a8a8a8;
  box-shadow: 1px 1px 1px 0px #a8a8a8;
  border: 1px solid #f0f0f0;
  margin: 5px;
  min-height: 300px;
  padding: 0 30px 30px 30px; }

h4 {
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 5px; }

.ognavbar {
  position: relative;
  top: 0;
  /*left: 0;*/
  background-color: #2b3d46;
  width: 100%;
  height: 70px;
  /* Temp border for layout */
  /*border: 1px solid orangered;*/
  display: flex; }

.logo {
  width: 170px;
  margin-left: 10px; }

.navtext {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 20px;
  line-height: 70px;
  cursor: pointer; }

.navlinkholder {
  margin-left: 100px;
  /*line-height: 70px;*/
  overflow: hidden;
  /*border: 1px solid greenyellow;*/
  /*border-left: 1px solid rgba(255, 255, 255, 0.15);*/ }

.logout {
  /*line-height: 70px;*/
  overflow: hidden;
  /*border: 1px solid #5ac3ff;*/
  margin-left: auto; }

.naventry {
  margin: 0 30px 0 10px;
  padding-top: 20px; }
  .naventry:hover {
    color: #d7d7d7; }

.ogsidebar {
  position: relative;
  /*top: 60px;*/
  left: 0;
  background-color: white;
  width: 220px;
  height: 100%;
  /* Temp border for layout */
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 350ms ease-in-out; }

.sidelinkholder {
  /*border: 1px solid coral;*/
  margin: 20px 10px 0 10px;
  /*border-top: 2px solid #348ad6;*/
  /*border-top: 1px solid #c1e9ff;*/
  border-right: 1px solid #C1E9FF;
  min-height: 500px; }

.sidelink {
  font-size: 18px;
  display: flex;
  padding: 10px 0 10px 0;
  background-color: white;
  color: #707070;
  transition: all 0.5s;
  position: relative;
  cursor: pointer; }

.sidelink:hover {
  background-color: #e6e6e6; }

.sideicon {
  flex: 1;
  text-align: center; }

.sidelabel {
  flex: 5;
  margin-left: 5px; }

.hideMenu {
  left: -300px; }

.sidelink.ng-enter {
  opacity: 0;
  top: -100px; }

.sidelink.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0; }

.fade-in-out {
  transition: 1s linear all;
  opacity: 1; }

.fade-in-out.ng-hide {
  opacity: 0; }

.ogcard {
  -webkit-box-shadow: 1px 1px 1px 0px #a8a8a8;
  -moz-box-shadow: 1px 1px 1px 0px #a8a8a8;
  box-shadow: 1px 1px 1px 0px #a8a8a8;
  border: 1px solid #f0f0f0;
  margin: 5px;
  min-height: 140px; }

.venueside {
  height: 30px;
  background-color: #bfffc1;
  padding: 5px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 900; }

.admin {
  background-color: #ee4839; }

.device {
  background-color: #51b85e; }

.user {
  background-color: #20B8EB; }

.sponsor {
  background-color: #f6921e; }

.other {
  background-color: rebeccapurple; }

.ring-badge {
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  width: 100px;
  text-align: center;
  display: inline-block; }

.device-card {
  border-radius: 3px;
  display: flex;
  margin-bottom: 5px; }
  .device-card:hover {
    -webkit-box-shadow: 1px 1px 1px 0px #a8a8a8;
    -moz-box-shadow: 1px 1px 1px 0px #a8a8a8;
    box-shadow: 1px 1px 1px 0px #a8a8a8; }

.dccell {
  padding: 10px; }

.dc-icon {
  background-color: #51b85e;
  color: white;
  font-weight: bold; }

.dc-udid {
  background-color: #75c780;
  color: white;
  flex: 3; }

.dc-name {
  flex: 5;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

.dc-venue {
  background-color: #20B8EB;
  text-align: right;
  margin-left: auto;
  color: white;
  flex: 5; }

.angular-google-map-container {
  height: 400px; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.subhead {
  margin-top: 15px;
  font-weight: bold; }

.ibut {
  padding: 5px;
  background-color: #007fa0;
  color: white;
  border-radius: 3px; }
  .ibut:hover {
    background-color: #00576d; }

.highlighted-text {
  padding: 5px;
  background-color: #b7fdb7, 10%;
  font-style: italic;
  font-weight: lighter;
  border-radius: 3px; }

.error-border {
  border: 2px solid #ff0051 !important;
  border-radius: 3px !important; }

.btn-thin {
  padding: 5px 10px 5px 10px !important;
  font-size: 10px;
  color: white; }

.spinner-holder {
  width: 80px;
  height: 80px;
  background-color: #57b279;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20vh auto 0 auto; }

.spinner {
  width: 40px;
  height: 40px;
  /*position: relative;*/
  text-align: center;
  margin-bottom: 8px;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
