<script type="text/ng-template" id="yelpSuggest.html">
    <a>
        <img ng-src="{{ match.model.image_url }}" style="width: 40px; margin-right: 10px">
        <span>
            {{ match.label }} - {{ match.model.location.display_address[0] }}
        </span>
    </a>
</script>

<div class="container">
    <h1><i class="fa fa-building-o" aria-hidden="true" style="color: #999999"></i>&nbsp;&nbsp;Add Venue</h1>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="row">
                <div class="col-md-2">
                    <img class="top15" src="images/yelp-logo-small.png"/>
                </div>
                <div class="col-md-5">
                    <div class="input-group top15">
                        <span class="input-group-addon">Near</span>
                        <input type="text" ng-model="parameters.location" placeholder="Location" class="form-control"/>
                        <div class="input-group-addon" ng-show="parameters.location === 'Locating...'">
                            <i class="fa fa-spinner fa-spin fa-pulse fa-fw"></i>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn-default btn" ng-click="initializeLocation()" ng-show="parameters.location !== 'Locating...'">
                                <i class="fa fa-location-arrow fa-fw" ng-class="{ 'location-init' : parameters.location }"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group top15">
                        <div class="input-group-addon">Find</div>
                        <input type="text" ng-model="parameters.term" placeholder="Search Term" uib-typeahead="result as result.name for result in yelpSearch($viewValue)"
                               typeahead-loading="loadingResults" typeahead-no-results="noResults" class="form-control" typeahead-template-url="yelpSuggest.html"
                               typeahead-on-select="yelpCopy($item, $model, $label)" typeahead-show-hint="true" typeahead-wait-ms="500"/>
                        <div class="input-group-addon" ng-show="loadingResults">
                            <i ng-show="loadingResults" class="fa fa-spinner fa-spin fa-pulse fa-fw"></i>
                        </div>
                        <div class="input-group-addon" ng-show="noResults">
                            <i class="glyphicon glyphicon-remove" style="color:#c40000;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <!-- Save, Delete, Cancel buttons -->
            <div class="row top30">
                <div class="col-md-12">
                    <button ng-disabled="form.$invalid" class="btn btn-success" ng-click="create()">
                        Create
                    </button>
                </div>
            </div>
            <!-- First page of venue info -->
            <uib-tabset class="top30">
                <uib-tab heading="Address">
                    <div>
                        <form name="form" ng-submit="create()" class="form-horizontal top15" novalidate>
                            <div ng-init="setForm(form)"></div>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.name.$valid && form.name.$touched, 'has-success' : form.name.$valid && form.name.$touched}">
                                <label for="name" class="col-sm-3 control-label">Venue Name *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Venue Name"
                                           ng-model="venue.name" required/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.street.$valid && form.street.$touched, 'has-success' : form.street.$valid && form.street.$touched}">
                                <label for="address-street" class="col-sm-3 control-label">Street Address *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="address-street" name="street"
                                           placeholder="Address"
                                           ng-model="venue.address.street" required ng-change="geoCheck()"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="address-street2" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="address-street2" name="street2"
                                           placeholder="Address Line 2"
                                           ng-model="venue.address.street2" ng-change="geoCheck()"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.city.$valid && form.city.$touched, 'has-success' : form.city.$valid && form.city.$touched}">
                                <label for="address-city" class="col-sm-3 control-label">City *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="address-city" name="city" placeholder="City"
                                           ng-model="venue.address.city" required ng-change="geoCheck()"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.state.$valid && form.state.$touched, 'has-success' : form.state.$valid && form.state.$touched}">
                                <label for="address-state" class="col-sm-3 control-label">State/Province *</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="address-state" name="state" placeholder="State"
                                           ng-model="venue.address.state" maxlength="2" ng-maxlength="2" required ng-change="geoCheck()"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.zip.$valid && form.zip.$touched, 'has-success' : form.zip.$valid && form.zip.$touched}">
                                <label for="address-zip" class="col-sm-3 control-label">Postal/Zip Code *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="address-zip" name="zip" placeholder="ex: 80304"
                                           ng-model="venue.address.zip" ng-pattern="zipRegex" required ng-change="geoCheck()"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.latitude.$valid && form.latitude.$touched}" ng-if="ring===1">
                                <label for="latitude" class="col-sm-3 control-label">Latitude</label>
                                <div class="col-sm-6">
                                    <input type="number" step="any" class="form-control" id="latitude" name="latitude"
                                           ng-model="venue.geolocation.latitude" placeholder="ex: 35.272491"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-class="{'has-error' : !form.longitude.$valid && form.longitude.$touched}" ng-if="ring===1">
                                <label for="longitude" class="col-sm-3 control-label">Longitude</label>
                                <div class="col-sm-6">
                                    <input type="number" step="any" class="form-control" id="longitude" name="longitude"
                                           ng-model="venue.geolocation.longitude" placeholder="ex: -120.7054912"/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="venue.showInMobileApp"> Show in Mobile App
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <!--Hidden submit button so submission on pressing enter works-->
                            <button type="submit" ng-show="false"></button>
                        </form>
                    </div>

                </uib-tab>
                <uib-tab heading="Logo and Images">
                    <br>
                    <img-input prompt="Logo" width="256" height="256" dirty="media.logo" src-field="venue.logo" exact></img-input>
                    <!--<img-input prompt="Venue Image 1" width="800" height="600" dirty="media.photos[0]" src-field="venue.photos[0]" ratio="4:3" max-size></img-input>
                    <img-input prompt="Venue Image 2" width="800" height="600" dirty="media.photos[1]" src-field="venue.photos[1]" ratio="4:3" max-size></img-input>
                    <img-input prompt="Venue Image 3" width="800" height="600" dirty="media.photos[2]" src-field="venue.photos[2]" ratio="4:3" max-size></img-input>-->
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
