<div class="container">
    <div class="row">
        <h1><i class="fa fa-bullhorn" aria-hidden="true" style="color: #999999"></i>&nbsp;Advertisements</h1>
        <div class="col-lg-10 col-md-10">
            <div ng-if="!advertisements.length">
                <h2>No Sponsorships to show</h2>
                <a class="btn  btn-success" ui-sref="sponsorship.add"><h4>Create One!</h4></a>
            </div>
            <div ng-if="advertisements.length" class="top15">
                <input type="text" ng-model="search.name" class="form-control" placeholder="Search sponsorships...">
                <table class="table table-striped top15">
                    <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>

                        <td ng-click="toggleSort('reviewed')"
                            ng-class="{headerSortUp: reverse, headerSortDown: !reverse}"><b>Review State</b>
                        </td>
                        <td><b>Pause</b></td>

                        <td></td>
                        <td ng-if="admin"></td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="advertisement in advertisements | filter:search">

                        <td>{{advertisement.name}}</td>
                        <td>{{advertisement.description}}</td>
                        <td>{{advertisement.reviewState}}</td>
                        <td style="width:20%;">
                            <button style="width:100%" class="btn btn-thin" ng-class="!advertisement.paused ? ' btn-danger' : ' btn-success'" ng-click="togglePause(advertisement)">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-play': advertisement.paused, 'glyphicon-pause': !advertisement.paused}"></span>
                                {{advertisement.paused ? "Resume" : "Pause"}}
                            </button>
                        </td>
                        <td width="10%"><a ui-sref="admin.editad({ id: advertisement.id })"
                                           class="btn btn-primary btn-thin">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
