<div class="container">
    <h1><i class="fa fa-television" aria-hidden="true" style="color: #999999"></i>&nbsp;&nbsp;All Devices </h1>
    <h4>Devices in Bellini DM: {{ devices.length }}</h4>
    <div class="row">
        <div class="col-sm-10 col-lg-10 top30" ang-show="devices.length">
            <input type="text" ng-model="searchTerm" class="form-control" placeholder="Search devices...">
        </div>
        <div class="col-sm-10 col-lg-10 top30">
            <!--<venue-device-list ng-repeat="v in venues" venue="v"></venue-device-list>-->
            <device-card ng-repeat="d in devices" device="d" ng-click="goDetail(d)"></device-card>
        </div>
    </div>
</div>

