
.mitchbar {
    position: absolute;
    width: 100vw;
    background-color: #333333;
    padding: 5px;
}

.mitchbar > btn {
    margin: 5px!important;
}

.mitchbar > h3 {
    color: white!important;
}


.card {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    width: 60%;


}

.card:hover {

    -webkit-box-shadow: 3px 6px 23px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 23px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 23px -9px rgba(0, 0, 0, 0.75);

}